/* banner part */
.banner{
    max-width: 100%;
    height: 581px;
    background-image: url("../assets/Hero-bg.png");
    margin-bottom: 74px;
}
.banner-content{
    width: 998px;
    height: 581px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 28px;
    font-weight: bolder;
    font-family: "Azeret Mono", monospace;
}
.banner-description{
    color: #0D1321;
}
.banner-btn{
    width: 224px;
    height: 65px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #0D1321;
    border-radius: 8px;
}
/* web-development-importance */
.become-a-developer{
    width: 1140px;
    height: 1300px;
    border-radius: 16px;
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    background-color: rgb(246, 246, 240);
}
.web-development-importance{
    width: 946px;
    height: 1233px;
    margin: 0 auto;
}
.commitment{
    width: 800px;
    height: 113px;
    margin: 0 auto;
}
.commitment-box{
    width: 946px;
    height: 1233px;
    padding-top: 48px;
}
.topic-title{
    font-size: 32px;
    font-weight: bolder;
    font-family: "Azeret Mono", monospace;
}
.commitment-title{
    font-size: 24px;
    font-weight: bold;
    color:  #0D1321;
    font-family: "Azeret Mono", monospace;
}
.commitment-title-description{
    color: #697081;
    font-size: 20px;
    font-family: "Azeret Mono", monospace;
    
}
.commitment-align{
    text-align: left;
    justify-content: space-between;
    padding: 32px;
   
}
.commitment-1{
   
    display: flex;
    justify-content: space-around;
    gap: 48px;
    
}
.commitment-2{
    display: flex;
    justify-content: space-between;
    gap: 48px;
}
.commitment-3{
    display: flex;
    justify-content: space-between;
    gap: 48px;
}
.primary-btn{
    width: 171px;
    height: 47px;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
}


/* motivation */
.motivation-box{
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 90px;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.motivation{
    width: 852px;
    height: 113px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.video{
    width: 900px;
    height: 450px;
    padding: 48px;
    border: 1px solid rgb(150, 144, 144);
    border-radius: 16px;
    margin: 0 auto;
}
.video video{
    border-radius: 16px;
}
/* target items */
.target{       
    width: 1140px;
    height: 460px;
    margin: 0 auto;
}
.target-box{
    width: 850px;
    height: 113px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}
.target-title{
    font-size: 32px;
    font-weight: bolder;
    font-family: "Azeret Mono", monospace;
}
.skills-card{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 40px;
    box-shadow: 0 4px 10px 0 #a49c9c;
    background-color: #ffffff; 
    margin-bottom: 111px;
    font-family: "Azeret Mono", monospace;
}
.anchor{
    color: #0D1321;
}
/* footer start */
.last-section{
    margin-top: 60px;
    position: relative;
    padding-bottom: 80px;
}
.last-section-image{
    width: 1140px;
    height: 420px;
    background: url("../assets/handshake.jpg") no-repeat center;
    border-radius: 16px;
    margin: 0 auto;
}
.last-section-content{
    justify-content: center;
    text-align: center;
}
.last-section-title{
    font-size: 32px;
    font-weight: bold;
    font-family: "Azeret Mono", monospace;
    text-align: center;
    color: #FFFFFF;
    padding-top: 64px;
}
.last-section-title-description{
    width: 600px;
    height: 52px;
    font-size: 20px;
    font-weight: 400px;
    font-family: "Azeret Mono", monospace;
    text-align: center;
    color: #FFFFFF;
    padding-top: 10px;
    margin: 0 auto;
}
.last-section input[type="text"]{
    width: 500px;
    height: 20px;
    font-size: 20px;
    font-family: "Azeret Mono", monospace;
    padding: 15px;
    border-radius: 10px;
}
.last-section input[type="submit"]{
    width: 120px;
    height: 51px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Azeret Mono", monospace;
    padding: 12px;
    margin-top: 50px;
    border-radius: 10px;
}
/* footer start */
.footer{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background: rgb(243, 240, 240);
    padding: 32px;
}
.footer-title{
    font-size: 20px;
    font-weight: 600px;
    font-family: "Azeret Mono", monospace;
}
.footer-icone{
    padding-right: 100px;
}
.footer-icone a{
    margin-right: 32px;
}